@font-face {
  font-family: 'Camingo Code';
  src: url('/fonts/JanFromm-CamingoCodeRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Camingo Code';
  src: url('/fonts/JanFromm-CamingoCodeBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}