---
import Section from "../Section.astro";

import CV from "@/content/cv.json";
const { summary } = CV.basics;
---

<Section title="About" className="gap-0">
   <p class="font-sans opacity-60 print:font-sans">
      <span set:html={summary} />
   </p>
</Section>
