---
import Section from "../Section.astro";

interface Props {
   summary: string;
   lang: string;
}

const { summary, lang } = Astro.props;
---

<Section title={lang == "en" ? "About" : "Sobre Mi"} className="gap-0">
   <p class="font-sans opacity-60 print:font-sans">
      <span set:html={summary} />
   </p>
</Section>
