---
interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<nav
  aria-label={lang == "es" ? "Navegacion por secciones" : "Section navigation"}
  class="sticky top-0 z-10 w-full bg-skin-fill/90 py-3 font-mono md:block lg:w-full"
>
  <ul class="flex items-center justify-between">
    <li
      data-section="experience"
      class="nav-item rounded-md p-2 transition-all duration-200 ease-linear hover:border-skin-hue/20 hover:bg-skin-button-accent/20 hover:text-skin-hue"
    >
      <a
        href="#experience"
        aria-label={lang == "es" ? "Ir a Experiencia" : "Go to Experience"}
        >🧑🏽‍💻 <span class="hidden md:inline"
          >{lang == "es" ? "Experiencia" : "Experience"}</span
        ></a
      >
    </li>
    <li
      data-section="work"
      class="nav-item rounded-md p-2 transition-all duration-200 ease-linear hover:border-skin-hue/20 hover:bg-skin-button-accent/20 hover:text-skin-hue"
    >
      <a
        href="#work"
        aria-label={lang == "es" ? "Ir a Proyectos" : "Go to Projects"}
        >🛠️ <span class="hidden md:inline"
          >{lang == "es" ? "Proyectos" : "Projects"}</span
        ></a
      >
    </li>
    <li
      data-section="education"
      class="nav-item rounded-md p-2 transition-all duration-200 ease-linear hover:border-skin-hue/20 hover:bg-skin-button-accent/20 hover:text-skin-hue"
    >
      <a
        href="#education"
        aria-label={lang == "es" ? "Ir a Educacion" : "Go to Education"}
        >🎓 <span class="hidden md:inline"
          >{lang == "es" ? "Educación" : "Education"}</span
        ></a
      >
    </li>
    <li
      data-section="images"
      class="nav-item rounded-md p-2 transition-all duration-200 ease-linear hover:border-skin-hue/20 hover:bg-skin-button-accent/20 hover:text-skin-hue"
    >
      <a
        href="#images"
        aria-label={lang == "es" ? "Ir a Imagenes" : "Go to Images"}
        >🏞️ <span class="hidden md:inline"
          >{lang == "es" ? "Imágenes" : "Images"}</span
        ></a
      >
    </li>
    <li
      data-section="skills"
      class="nav-item rounded-md p-2 transition-all duration-200 ease-linear hover:border-skin-hue/20 hover:bg-skin-button-accent/20 hover:text-skin-hue"
    >
      <a
        href="#skills"
        aria-label={lang == "es" ? "Ir a Habilidades" : "Go to Skills"}
        >⚡️ <span class="hidden md:inline"
          >{lang == "es" ? "Skills" : "Skills"}</span
        ></a
      >
    </li>
  </ul>
</nav>

<script>
  import { initializeSectionNavigation } from "@/lib/navigation";

  document.addEventListener("DOMContentLoaded", () => {
    initializeSectionNavigation(document, window);
  });
</script>
