---
const { className, title, id } = Astro.props;
---

<section
   id={id}
   class:list={[
      "main-section flex scroll-mt-20 flex-col gap-4",
      className,
   ]}
>
   {
      title && (
         <h2 class="relative mb-2 flex w-full items-center gap-3 font-mono text-3xl font-bold">
            {title}
         </h2>
      )
   }
   <slot />
</section>
