---
import { Icon } from "astro-icon/components";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<div class="inline-flex items-center">
  <div
    class="group/theme flex cursor-pointer items-center gap-2 rounded-md bg-transparent"
  >
    <button
      type="button"
      id="themeSwitch"
      class="cursor-pointer"
      aria-label={lang == "en" ? "Toggle dark mode" : "Alternar modo oscuro"}
      aria-pressed="false"
    >
      <i
        class="flex items-center gap-1 text-sm font-medium leading-6 text-skin-base transition-transform ease-in-out group-hover/theme:rotate-45"
      >
        <Icon
          name="ri:moon-fill"
          class="hidden dark:block"
          width={20}
          height={20}
        />
        <Icon name="ri:sun-fill" class="dark:hidden" width={20} height={20} />
      </i>
    </button>
    <label class="sr-only" for="themeSelect">
      {lang == "en" ? "Color theme" : "Tema de color"}
    </label>
    <select
      id="themeSelect"
      class="block w-full rounded-md border-0 bg-transparent py-1.5 pl-3 pr-10 font-mono text-skin-base ring-1 ring-inset ring-skin-muted focus:ring-2 focus:ring-skin-hue sm:text-sm sm:leading-6"
      aria-label={lang == "en" ? "Color theme" : "Tema de color"}
    >
      <option value="red">{lang == "en" ? "Red" : "Rojo"}</option>
      <option value="blue">{lang == "en" ? "Blue" : "Azul"}</option>
      <option value="yellow">{lang == "en" ? "Yellow" : "Amarillo"}</option>
      <option value="purple">{lang == "en" ? "Purple" : "Púrpura"}</option>
      <option value="green">{lang == "en" ? "Green" : "Verde"}</option>
      <option value="orange">{lang == "en" ? "Orange" : "Naranja"}</option>
      <option value="pink">{lang == "en" ? "Pink" : "Rosado"}</option>
      <option value="aqua">{lang == "en" ? "Aqua" : "Aqua"}</option>
      <option value="sepia">{lang == "en" ? "Sepia" : "Sepia"}</option>
      <option value="blackwhite">{lang == "en" ? "Mono" : "Mono"}</option>
    </select>

    <label class="sr-only" for="languageSelect">
      {lang == "en" ? "Language" : "Idioma"}
    </label>
    <select
      id="languageSelect"
      class="block rounded-md border-0 bg-transparent py-1.5 pl-3 pr-10 font-mono text-skin-base ring-1 ring-inset ring-skin-muted focus:ring-2 focus:ring-skin-hue sm:text-sm sm:leading-6"
      aria-label={lang == "en" ? "Language" : "Idioma"}
    >
      <option value="en">🇺🇸 {lang == "en" ? "English" : "Inglés"}</option>
      <option value="es">🇪🇸 {lang == "en" ? "Spanish" : "Español"}</option>
    </select>
  </div>
</div>

<style>
  :global(.dark) {
    color-scheme: dark;
  }
</style>

<script>
  import { initializeThemeSwitch } from "@/lib/theme-switch";

  initializeThemeSwitch({ document, window });
</script>

<style is:global>
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }
  ::view-transition-old(root) {
    z-index: 1;
  }
  ::view-transition-new(root) {
    z-index: 9999;
  }
  .dark::view-transition-old(root) {
    z-index: 9999;
  }
  .dark::view-transition-new(root) {
    z-index: 1;
  }
</style>
